<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ConiferRemediate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
<nav>
    <a href="{{ url_for('main.dashboard') }}">Dashboard</a>
    <a href="{{ url_for('main.servers') }}">Servers</a>
    <a href="{{ url_for('main.logout') }}">Logout</a>
</nav>
<section>
    {% block content %}{% endblock %}
</section>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
