{% extends 'base.html' %}
{% block content %}
<h2>Servers</h2>
<form method="post">
    <input name="ip_address" placeholder="IP Address" required>
    <input name="name" placeholder="Server Name" required>
    <input name="os" placeholder="OS" required>
    <input name="os_type" placeholder="OS Type" required>
    <input name="tag" placeholder="Tag">
    <button type="submit">Add Server</button>
</form>
<table class="table table-dark table-striped">
    <tr><th>Name</th><th>IP</th><th>OS</th><th>Status</th><th>CVE</th></tr>
    {% for s in servers %}
    <tr>
        <td>{{ s.name }}</td>
        <td>{{ s.ip_address }}</td>
        <td>{{ s.os }}</td>
        <td>{{ s.status }}</td>
        <td>{{ s.cve or 'None' }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
